
.header {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 92px 52px 92px 50px;
}
.header__logo {
  display: block;
  width: 148px;
}
.header__logo-image {
  height: 105px;
}
.header__menu-list {
  display: flex;
  align-items: center;
  gap: 33px;
  margin-top: -5px;
}
.header__menu-item {
  font-size: 18px;
  list-style: circle;
}
.header__menu-item_no-bullit {
  list-style: none; 
}
.header__menu-link {
  text-underline-offset: 3px;
}
.header__link_active {
  border-bottom: none;
  text-decoration: none;
}
.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 236px;
  margin-top: -5px;
  font-size: 18px;
  line-height: 24.3px;
}
.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px 50px;
  background: url(../images/cover.jpg) no-repeat -138px / cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .6;
  background: #000;
}
.cover__title {
  position: relative;
  width: 100%;
  margin-bottom: 106px;
}
.accent-span {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}
.accent-span:last-child {
  margin-bottom: 0;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.no-letter-spacing:last-child {
  letter-spacing: 0;
}
.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cover__description-text {
  color: #FFF;
  font-weight: 400;  
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase; 
  word-spacing: 18px;
}
.bet-button {
  width: 256px;
  min-height: 51px;
  border: 1px solid #fff;
  color: #FFF;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer; 
}
.lots {
  padding: 180px 24px 120px 24px;
  
}
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;

}
.lots__heading {
  margin: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}
.lots__card-list-item {
  position: relative;
  width: 334px;
  min-height: 596px;
  list-style: none;
}
.card-link, .card {
  height: 100%;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.card-link {
  text-decoration: none;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}
.card__title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-decoration-skip-ink: none;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: uppercase;
}
.card__text {
  position: relative;
  z-index: 1;
  color: #FFF;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%; /* 24px */
}
.lots__look-more-link {
  margin-left: 40px;
  border-bottom: 1px solid black;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.about {
  padding: 35px 24px 180px 24px;
}
.about__column {
  display: grid;
  grid-template-columns: 334px auto;
  align-items: start;
  column-gap: 25px;
}
.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__title {

  align-self: center;
  padding-top: 5px;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}
.about__text {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  gap: 24px;
  padding-top: 8px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
}
.footer {
  display: grid;
  grid-template-columns: 264px 1fr max-content;
  justify-content: space-between;
  padding: 0 50px 82px 50px;
}
.address {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}
a[href^="tel"],
a[href^="mailto"] {
  text-underline-offset: 4px;
  
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -20px;
}
.footer__menu-list-item {
  list-style: none;
}
.footer__menu-link {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-underline-offset: 4px;
}
.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
}
.footer__social-list-item {
  list-style: none;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}